// CARD styles


.card {
  @extend %box-border;
  padding: 8px;
  width: auto;
  background-color: $white;
  @include flex();
}

.text-info {
  margin-top: 10px;
  @include flex($dir: column);
  @include mediaQ('small') {
      margin-top: 30px;
  }
}

.name {
  font-size: $card-title-size;
  font-weight: $bold-font;
}

.email,
.city {
  font-size: $card-text-size;
  margin-top: 5px;
  color: $grey;
}

.name,
.city {
  text-transform: capitalize;
}
