// CARD styles

.card {
    padding: 15px;
}

.emp-card {
  @extend %box-border;
  padding: 8px;
  width: auto;
  background-color: $white;
  @include flex();
  .name {
      cursor: pointer;
  }
}

.text-info {
  @include flex($dir: column);
}

.name {
  font-size: $card-title-size;
  font-weight: $bold-font;
  margin-top: 15px;
  @include mediaQ('small') {
      margin-top: 30px;
  }
}

.email,
.city {
  font-size: $card-text-size;
  margin-top: 5px;
  color: $grey;
}

.name,
.city {
  text-transform: capitalize;
}
