// IMAGES styles

.profile-pic {
  border-radius: 50%;
  height: 70px;
  margin: 9px;
  cursor: pointer;
  @include mediaQ('small') {
    height: 100px;
    margin: 15px;
  }
}

.overlay-pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#x,
.arrow {
  cursor: pointer;
  position: absolute;
}

#x {
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
}

.arrow {
  maring: 10px;
  height: 25px;
  width: 25px;
}

.left {
  top: 185px;
  left: 15px;
}

.right {
  top: 185px;
  right: 15px;
}
